<p>
  <b>input:</b> {{this.input}} ({{this.input.length}})
  {{#if this.inputIsNonZero}}*{{/if}}
</p>
<p>
  <b>internal:</b> {{this.internalValue}} ({{this.internalValue.length}})
  {{#if this.internalIsNonZero}}*{{/if}}
</p>
<p>
  <b>merged:</b> {{this.merged}} ({{this.merged.length}})
  {{#if this.mergedIsNonZero}}*{{/if}}
</p>